:root {

    --background: #C5E4E7;
    --darkGreen: #00474B;
    --grayBlue: #9EBBBD;
    --input: #F3F9FA;
    --green: #26C2AE;
    --error: #E17457;
}


* {
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

body {
    background-color: var(--background);
}

body h1{
    display: flex;
    justify-content: center;
    padding-top: 160px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: white;
    width: 70%;
    border-radius: 12px;
}

.input-container, .div-results-container {
    width: 50%;
    border: 1px solid black;
}

.div-results-container {
    background-color: var(--darkGreen);
}

.error {
    border: 2px solid #E17457;
}