:root {

    --background: #C5E4E7;
    --darkGreen: #00474B;
    --grayBlue: #9EBBBD;
    --input: #F3F9FA;
    --green: #26C2AE;
    --error: #E17457;
}


* {
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

body {
    background-color: var(--background);
}

body h1{
    display: flex;
    justify-content: center;
    margin-top: 160px;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 70%;
    border-radius: 12px;
}

.error {
    border: 2px solid #E17457;
}